{
  "parser": "babel-eslint",
  "plugins": ["jest", "prettier"],
  "extends": [
    "plugin:jest/recommended",
    "@atomix/eslint-config",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true
      }
    ],
    "import/newline-after-import": ["error", { "count": 1 }],
    "quotes": "off"
  }
}
