{
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ],
  "extends": ["plugin:jest/recommended", "@atomix/eslint-config"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": true,
      "variables": true
    }]
  }
}
