{
  "extends": ["@atomix/react", "plugin:prettier/recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["../node_modules", "./"]
      }
    }
  },
  "rules": {
    "react/sort-comp": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": ["warn", 140],
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": false
      }
    ],
    "quotes": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
