{
  "extends": "@atomix/react",
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "../node_modules",
          "./"
        ]
      }
    }
  },
  "rules": {
    "react/sort-comp": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": ["error", 120]
  }
}
